body {
    font-family: 'Montserrat', sans-serif;
    color: #555;
}

.content {
    margin-right:15px;
}

dd .period {
    color: #aaa;
}

dd .stars {
    color: #ff4747;
}

#topimg {
    width:90vw;
    height:auto;
    max-width: 500px;
}

a {
    color:#33a6b8;
    outline:none;
}

a:hover {
    text-decoration:none;
    color: #2a8998;
}

dt a {
    color: #555;
}